@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply p-0 m-0;
    @apply h-full;
    font-size: 14px;
    background: black;
  }
  #__next {
    @apply h-full;
  }
  a {
    @apply no-underline;
    outline: none;
  }
  input {
    @apply outline-none;
  }
  * {
    @apply box-border;
  }
}
